<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Account</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding >
 <ion-item class="item-avatar"  style="center">
 <img src="images/helmet.jpg">
 </ion-item>
	<h1 style="text-align: center">{{fullname}} </h1>
	<h2 style="text-align: center"> {{email}} </h2>

	<ion-refresher (ionRefresh)="doRefresh($event)">
 <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
	<ion-list>
	<br>
		<ion-item (click)="FriendRequests()">
			<ion-icon name="person" item-left></ion-icon>
			Friend Requests
			<ion-badge item-right>{{count}}</ion-badge>
		</ion-item>
		<ion-item (click)="FindFriends()">
			<ion-icon name="person-add" item-left></ion-icon>
			Find Friends
		</ion-item>
		<ion-item (click)="GoToFriends()">
			<ion-icon name="people" item-left></ion-icon>
			Friends
		</ion-item>
		</ion-list>
		<br><br><br>
		<ion-list>
		<ion-item (click)="GoToSettings()">
		<ion-icon name="settings" item-left></ion-icon>
		Settings
		</ion-item>
		<ion-item (click)="logout()">
		<ion-icon name="exit" item-left></ion-icon>
		Logout
		</ion-item>
	</ion-list>
	
</ion-content>
