.otherActive~._28r-{pointer-events:auto}
._287i{display:inline-block;font-size:12px;line-height:22px;vertical-align:middle}
.sp_gTlIMMtbro4_1_5x{background-image:url(/rsrc.php/v3/yq/r/2D47lGJgW_d.png);background-size:16px 32px;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_gTlIMMtbro4_1_5x.sx_cf1e8e{width:12px;background-position:0 -16px}.sp_gTlIMMtbro4_1_5x.sx_8ee565{background-position:0 0}

#bootloader_pZS6h{height:42px;}.bootloader_pZS6h{display:block!important;}