._56hv,._56hy{background-color:#fff;border:1px solid #ccc;display:inline-block;margin-left:7px;margin-right:2px;outline:none;padding:2px;position:relative}._ors ._56hv,._ors ._56hy{display:none}._56hv i,._56hy{background-color:transparent;background-position:center 25%;background-repeat:no-repeat;background-size:cover;display:block;height:38px;width:52px}._56hy{position:absolute;transform:rotate(5deg)}
._3xd6 ._4qeb{border-radius:none}._3xd6 ._3xdb{padding-top:9px}._3xd6 ._3xd8{margin-right:8px;position:relative}._3xd6 ._3xd8 .img{opacity:.4}._3xd6 ._3xd9{position:absolute;right:5px;top:10px}._16bi{padding:13px 0}._16bh{color:rgba(153, 153, 153, 1);font-size:13px;height:34px;line-height:1.4;text-align:center}
._4kgv ._4qeb{border-radius:50%;overflow:hidden}
._1xfk{margin-bottom:-1px}
.sp_Na6RxBqVdH7_1_5x{background-image:url(/rsrc.php/v3/ys/r/xLKPEugyQVT.png);background-size:52px 62px;background-repeat:no-repeat;display:inline-block;height:50px;width:50px}.sp_Na6RxBqVdH7_1_5x.sx_2d0d21{width:8px;height:8px;background-position:0 -52px}.sp_Na6RxBqVdH7_1_5x.sx_ab81fd{background-position:0 0}

#bootloader_fuEab{height:42px;}.bootloader_fuEab{display:block!important;}