

@import "../pages/contact/contact";

@import "../pages/home/home";

@import "../pages/login/login";

@import "../pages/register/register";

@import "../pages/account/account";

.item-avatar  {     
width:70% !important;  
height : 70% !important;  
max-width: 100px !important;  //any size
max-height: 100px !important; //any size 
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
}

.login {
	background: url('../../images/jaN9z2NbSqC3FY0nMt7K_football.jpg') fixed center;
	background-size: cover;

}
.card { border-radius : 5px; }

.toolbar-background {
  background-color: green;
}
.toolbar-title{
	color: #ffffff;
}


