<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
<ion-item>Edit Account Details</ion-item>
 <ion-item>
    <ion-label floating>Name</ion-label>
    <ion-input type="text" [(ngModel)]="name" value=undefined></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" [(ngModel)]="email" value=undefined></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>City</ion-label>
    <ion-input type="text" [(ngModel)]="city" value=undefined></ion-input>
  </ion-item>
    <ion-item>
    <ion-label floating>password</ion-label>
    <ion-input type="password" [(ngModel)]="password" value=undefined></ion-input>
  </ion-item>
      <button block position="bottom" (click)="saveChanges(name, email, city, password)">Save Changes</button>

  </ion-list>
</ion-content>
