<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="login">

  <ion-item>
    <ion-label floating>Name</ion-label>
    <ion-input type="text" [(ngModel)]="name" value=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" [(ngModel)]="email" value=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>City</ion-label>
    <ion-input type="text" [(ngModel)]="city" value=""></ion-input>
  </ion-item>
    <ion-item>
    <ion-label floating>password</ion-label>
    <ion-input type="password" [(ngModel)]="password" value=""></ion-input>
  </ion-item>
    <button block position="bottom" (click)="addUser(name, email, city, password)">Register</button>


</ion-content>
