<!--
  Generated template for the FriendsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Friends</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <ion-refresher (ionRefresh)="doRefresh($event)">
 <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-list>
  <ion-item *ngFor="let user of friends">
  <ion-card>
  <ion-card-header>
    {{user.name}}
    <button  style="float: right;" ion-button outline item-right icon-left>
      <ion-icon name="people"></ion-icon>
  	Friends
    </button>
  </ion-card-header>
  <ion-card-content>
		{{user.city}}
	  </ion-card-content>
</ion-card>
  </ion-item>
</ion-list>
</ion-content>
