<!--
  Generated template for the FindFriendsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Find Friends</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >

<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let user of tempusers">
  <ion-card>
  <ion-card-header>
    {{user.name}}
    <span  *ngIf="checkFriend(user.email)">
    <button (click)="addFriend(user.email)" style="float: right;" ion-button outline item-right icon-left>
      <ion-icon name="person-add"></ion-icon>
      Add Friend
    </button> </span>
  </ion-card-header>
  <ion-card-content>
		{{user.city}}
	  </ion-card-content>
</ion-card>
  </ion-item>
</ion-list>
</ion-content>
