<!--
  Generated template for the NewsfeedPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>News</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding> <!-- still needs work - see alternate designs -->
	<ion-card class="card-rounded" style="background-color: #CAFFA7; border-radius: 10px 10px 10px 10px">
		<ion-item>
			<ion-label floating>Post A Message</ion-label>
			<ion-input type="text" [(ngModel)]="message" value=""></ion-input>
		</ion-item>
		<button style="float:right" (click)="Post(message)" (click)="message=null"  ion-button>Save</button>
	</ion-card >
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-row class ="row" responsive-sm wrap *ngFor="let post of news">
		<ion-card  style="background-color: #CAFFA7; border-radius: 10px 10px 10px 10px" >
			<ion-card-header> 
				<ion-icon name="chat-boxes" item-left></ion-icon>
				<font color="green" style="float:left">{{post.author}} </font>
			</ion-card-header>
			<ion-card-body text-wrap>
				
				<font style="float:left">{{post.post}} </font>
				<br><br>
				<p style="float: right"> {{post.date | date: "dd-MM-yy  hh:mma"}} </p>
				<span *ngIf="post.comments != null">
				<br>
					<font (click)="Switch()"> {{post.comments.length}} comments </font>
				</span>
				<span  *ngIf="Toggle()">
					<ion-row  class ="row" responsive-sm wrap *ngFor="let reply of post.comments">
						<ion-item text-wrap style="background-color: #CAFFA7"> 
							<font color="red" style="float:left" >{{reply.author}} </font>
							<br> <br>
							{{reply.message}}
							<br>
							<p style="text-align: right"> {{reply.date | date: "dd-MM-yy  hh:mma"}} </p>
							<br>
						</ion-item>


					</ion-row>
				</span>
				<ion-item>
					<ion-label floating>Post A Reply</ion-label>
					<ion-input type="text" [(ngModel)]="reply" value=""></ion-input>
				</ion-item>
				<button style="float:right"  (click)="PostReply(reply, post.author, post.date)" (click)="reply=null" ion-button>Save</button>
			</ion-card-body>
		</ion-card>

	</ion-row>
</ion-content>
