<!--
  Generated template for the ViewgroupPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>{{group.name}}</ion-title>
	</ion-navbar>

	<h1 style="text-align: center"> {{group.name}} </h1>
</ion-header>


<ion-content padding>
	<ion-item text-align="right" (click)="NewGame()"> <ion-icon name="add"> </ion-icon> Create new game   </ion-item>
	<ion-item *ngFor="let event of groupevents">
		<ion-item (click)="ViewGame(event)">
			<ion-item-header> 
				{{event.name}}     
			</ion-item-header>
			<ion-item-body>
				{{event.location}} 
				<div></div>
				{{event.starttime | date:"hh:mma"}} - {{event.endtime | date: "hh:mma"}}  <br> {{event.date | date:"dd MMM yyyy" }}  
			</ion-item-body> 
		</ion-item>
	</ion-item>
	<ion-card style="background-color: #CAFFA7">
		<ion-item>
			<ion-label floating>Post A Message</ion-label>
			<ion-input type="text" [(ngModel)]="message" value=""></ion-input>
		</ion-item>
		<button style="float:right" (click)="PostMessage(message)" (click)="message=null" ion-button>Save</button>
	</ion-card>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-row class ="row" responsive-sm wrap *ngFor="let post of group.posts">
		<ion-card style="background-color: #CAFFA7" >
			<ion-card-header > 
				<font color="maroon">{{post.author}} </font>
			</ion-card-header>
			<ion-card-body>
				<br>
				{{post.post}}
				<br><br>
				<p style="text-align: right"> {{post.date | date: "dd-MM-yy  hh:mma"}} </p>
				<span *ngIf="post.comments != null">
					<font (click)="Switch()"> {{post.comments.length}} comments </font>
				</span>
				<span  *ngIf="Toggle()">
					<ion-row  class ="row" responsive-sm wrap *ngFor="let reply of post.comments">

						<ion-item text-wrap style="background-color: #CAFFA7"> 
							<font color="red" style="float:left" >{{reply.author}} </font>
							<br> <br>
							{{reply.message}}
							<br> <br>
							<p style="text-align: right"> {{reply.date | date: "dd-MM-yy  hh:mma"}} </p>
							<br>
						</ion-item>
						
					</ion-row>
				</span>

				<ion-card style="background-color: #CAFFA7">
					<ion-item>
						<ion-label floating >Post A Reply</ion-label>
						<ion-input type="text" [(ngModel)]="reply" value=""></ion-input>
					</ion-item>
					<button style="float:right" (click)="PostReply(reply, post.author, post.date)" (click)="reply=null" ion-button>Save</button>
				</ion-card>
			</ion-card-body>
		</ion-card>

	</ion-row>
</ion-content>
