
<ion-header>

	<ion-navbar>
		<ion-title>Create New Game</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding >
	<ion-list>
		<ion-item>
			<ion-label floating>Event Name*</ion-label>
			<ion-input type="text" [(ngModel)]="name" value=""></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Location*</ion-label>
			<ion-input type="text" [(ngModel)]="location" value=""></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Sport*</ion-label>
			<ion-select [(ngModel)]="sport">
				<ion-option value="Football">Football</ion-option>
				<ion-option value="Basketball">Basketball</ion-option>
				<ion-option value="Tennis">Tennis</ion-option>
				<ion-option value="Squash">Squash</ion-option>
				<ion-option value="Golf">Golf</ion-option>
				<ion-option value="Other">Other</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Number of Players*</ion-label>
			<ion-select [(ngModel)]="players">
				<ion-option value="1">1</ion-option>
				<ion-option value="2">2</ion-option>
				<ion-option value="3">3</ion-option>
				<ion-option value="4">4</ion-option>
				<ion-option value="5">5</ion-option>
				<ion-option value="6">6</ion-option>
				<ion-option value="7">7</ion-option>
				<ion-option value="8">8</ion-option>
				<ion-option value="9">9</ion-option>
				<ion-option value="10">10</ion-option>
				<ion-option value="11">11</ion-option>
				<ion-option value="12">12</ion-option>
				<ion-option value="13">13</ion-option>
				<ion-option value="14">14</ion-option>
				<ion-option value="15">15</ion-option>
				<ion-option value="16">16</ion-option>
				<ion-option value="17">17</ion-option>
				<ion-option value="18">18</ion-option>
				<ion-option value="19">19</ion-option>
				<ion-option value="20">20</ion-option>
				<ion-option value="21">21</ion-option>
				<ion-option value="22">22</ion-option>
				<ion-option value="23">23</ion-option>
				<ion-option value="24">24</ion-option>

			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Date*</ion-label>
			<ion-datetime displayFormat="DD MMMM YY" min="2016" max="2100" [(ngModel)]="date"></ion-datetime>
		</ion-item>

		<ion-item>
			<ion-label>Start Time*</ion-label>
			<ion-datetime name="startTime" displayFormat="h:mm A"  pickerFormat="h mm A" [(ngModel)] ="starttime" ></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label>End Time*</ion-label>
			<ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)] = "endtime"></ion-datetime>
		</ion-item>
		
		<ion-item>
			<ion-label>Invite Friends</ion-label>
			<ion-select [(ngModel)]="invite" multiple="true">
				<ion-option *ngFor="let user of friends">{{ user.email }}</ion-option>
			</ion-select>
		</ion-item>

	</ion-list>
	<button block position="bottom" (click)="createGame(name, sport, players, date, starttime, endtime, location, invite)">Create Game</button>

</ion-content>

