<ion-header>
	<ion-navbar>
		<ion-title>Home</ion-title>
		
	</ion-navbar>
</ion-header>

<ion-content padding class="homepage" >
	<ion-item class="item-avatar"  style="center">
		<img src="images/helmet.jpg">
	</ion-item>
		<ion-refresher (ionRefresh)="doRefresh($event)">
 <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
	<ion-list>
		<ion-list-header style="font-weight:bold">Upcoming Games</ion-list-header>
		<ion-item text-align="right" (click)="NewGame()"> <ion-icon name="american-football"> </ion-icon> Create new game   </ion-item>
		<ion-item *ngFor="let event of tempevents">
			<ion-item (click)="ViewGame(event)">
				<ion-item-header> 
					{{event.name}}     
				</ion-item-header>
				<ion-item-body>
				<br>
					{{event.sport}} - {{event.location}} 
					<div></div>
					{{event.starttime | date:"hh:mma"}} - {{event.endtime | date: "hh:mma"}}  <br> {{event.date | date:"dd MMM yyyy" }}  
				</ion-item-body> 
			</ion-item>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-list-header style="font-weight:bold">Groups</ion-list-header>
		<ion-item text-align="right" (click)="NewGroup()"> <ion-icon name="add"> </ion-icon> Create new Group   </ion-item>
<ion-item *ngFor="let group of tempgroups">
			<ion-item (click)="ViewGroup(group)">
			<ion-item-header> {{group.name}} </ion-item-header>
			</ion-item>
			</ion-item>
	</ion-list>
</ion-content>
