<!--
  Generated template for the ViewGamePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>{{event.name}}</ion-title>
	</ion-navbar>

</ion-header>

<ion-content padding >
	<h3>{{event.name}}</h3>
	<p>Date: {{event.date | date:"dd MMM yyyy" }} </p>
	<p>Time: {{event.starttime | date:"hh:mma"}} - {{event.endtime | date: "hh:mma"}} </p>
	<p>Location: {{event.location}}</p>
	<p>Sport: {{event.sport}} </p>

	<br>
	
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-row class ="row" responsive-sm wrap *ngFor="let attendee of event.attending">
		<button ion-button round (click)="Check(attendee)">{{attendee}}</button>
	</ion-row>
	<br><br>
		<button ion-button style="float:right" (click)="leaveGame()"> Drop Out of Game </button>
<!-- news feed -->
	<ion-card style="background-color: #CAFFA7">
		<ion-item>
			<ion-label floating>Post A Message</ion-label>
			<ion-input type="text" [(ngModel)]="message" value=""></ion-input>
		</ion-item>
		<button style="float:right" (click)="PostMessage(message)" ion-button>Save</button>
	</ion-card>
	<ion-row class ="row" responsive-sm wrap *ngFor="let post of event.posts">
		<ion-card style="background-color: #CAFFA7" >
			<ion-card-header > 
				<font color="maroon">{{post.author}} </font>
			</ion-card-header>
			<ion-card-body>
				{{post.post}}
				<br>
				<p style="text-align: right"> {{post.date | date: "dd-MM-yy  hh:mma"}} </p>
				<span *ngIf="post.reply != null">
					<font (click)="Switch()"> {{post.reply.length}} comments </font>
				</span>
				<span  *ngIf="Toggle()">
					<ion-row  class ="row" responsive-sm wrap *ngFor="let reply of post.reply">

						<ion-item text-wrap style="background-color: #CAFFA7"> 
							<font color="red" style="float:left" >{{reply.author}} </font>
							<br> <br>
							{{reply.post}}
							<br> <br>
							<p style="text-align: right"> {{reply.date | date: "dd-MM-yy  hh:mma"}} </p>
							<br>
						</ion-item>
						
					</ion-row>
				</span>
				<!-- <ion-row class ="row" responsive-sm wrap *ngFor="let reply of post.reply">
					<ion-card style="background-color: ghostwhite">
						<ion-card-header > 
							<font color="red" >{{reply.author}} </font>
						</ion-card-header>
						<ion-card-body>
							<br>
							{{reply.post}}
							<br>
							<p style="text-align: right"> {{reply.date | date: "dd-MM-yy  hh:mma"}} </p>
						</ion-card-body>
					</ion-card>
				</ion-row> -->
				<ion-card style="background-color: #CAFFA7">
					<ion-item>
						<ion-label floating >Post A Reply</ion-label>
						<ion-input type="text" [(ngModel)]="reply" value=""></ion-input>
					</ion-item>
					<button style="float:right" (click)="PostReply(reply, post.author, post.date)" ion-button>Save</button>
				</ion-card>
			</ion-card-body>	
		</ion-card>			
