<!--
  Generated template for the FriendRequestsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Friend Requests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
<ion-list>
  <ion-refresher (ionRefresh)="doRefresh($event)">
 <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item *ngFor="let user of tempusers">
  <ion-card>
  <ion-card-header>
    <p>{{user.name}} </p>
   <p> {{user.city}} </p>
   
  </ion-card-header>
  <ion-card-content>
 <button (click)="Accept(user)" style="float: left;" ion-button outline item-right icon-left>
Accept 
   </button>
    <button (click)="Decline(user)" style="float: right;" ion-button outline item-right icon-left>
Decline 
   </button>	  </ion-card-content>
</ion-card>
  </ion-item>
</ion-list>
</ion-content>
