<!--
  Generated template for the NewgroupPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>New Group</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
		<ion-label floating>Group Name*</ion-label>
		<ion-input type="text" [(ngModel)]="name" value=""></ion-input>
	</ion-item>

	<ion-item>
			<ion-label>Invite Friends</ion-label>
			<ion-select [(ngModel)]="invite" multiple="true">
				<ion-option *ngFor="let user of friends">{{ user.email }}</ion-option>
			</ion-select>
		</ion-item>

			<button block position="bottom" (click)="createGame(name, invite)">Create Game</button>
</ion-content>
