<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding class="login">
<ion-list>
<br>
<br>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" [(ngModel)]="email" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" (keyup.enter)="Authenticate(email, password)" [(ngModel)]="password"></ion-input>
  </ion-item>
<br>
<br>
<br>
  <button block (click)="Authenticate(email, password)">Login</button>
  
  <button block (click)="Register()">Register</button>


</ion-list>
</ion-content>
